//цвета шрифтов
$colorFont-white: #ffffff;
$colorFont-red: #d41443;
$colorFont-pink: #ffa5ba;
$colorFont-black: #000000;
$colorFont-gray: #907e82;

//цвета фонов
$pink-basic-background: #ffb8ca;
$pink-circle-background: #ffa5ba;
$pink-mobile-menu-background: #e17992;
$wite-basic-background: #ffffff;
$light-pink-background: #fff5f6;
$buttonColor-red: #d41342;
$buttonColor-white: #ffffff;
$buttonColor-Hover-red: #c7133e;
$buttonColor-Hover-gray: #ecebeb;
$background-beige: #f0d1a5;
$background-light-green: #c2e297;
