.section {
}
.advantages {
  padding-left: 20px;
  padding-right: 20px;
}
.advantages__title {
}
.advantages__list {
  margin-bottom: 97px;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: -60px;
    margin-bottom: 140px;
  }
}
.list {
}
.advantages__item {
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 60px;
  }
}
.advantages__heading {
  display: flex;
  flex-direction: column;

  padding-bottom: 18px;

  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  // @media screen and (min-width: 320px) {
  //
  //   }
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }

  &.advantages__heading--first::before {
    content: '';
    width: auto;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/customer3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.advantages__heading--second::before {
    content: '';
    width: auto;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/customer2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  &.advantages__heading--third::before {
    content: '';
    width: auto;
    height: 50px;
    margin-bottom: 16px;
    background-image: url('./../images/customer1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.advantages__text {
  width: 230px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: #000000;
}
